body {
    padding: 10px;
}

#listing_form_wrapper{
    width: 80%;
    max-width: 50rem;
    margin-left: 10px;
}

#listing_form_wrapper input, #listing_form_wrapper textarea{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#listing_form_wrapper select{
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.list-pic-container{
    display: inline-flex;
    width: 30%;
}

.homepage-pic{
    min-width: 64px;
    width: 100%;
    height: auto;
}

.list-info{
    display: inline-flex;
    width: 50%;
}

.top-bid{
    font-weight: bold;
    font-size: 1.25rem;
}

.listing-top-bid{
    font-weight: bold;
    font-size: 1.25rem;
}

.listing-winning-bid{
    font-weight: bold;
    color: red;
    font-size: 1.25rem;
}

#active-listings{
    margin-left: 5px;
}

#watch-status{
    width: 10rem;
}

.watched{
    background: green;
    color: white;
}

.not-watched{
    background: #eee;
    color: #444;
}
