{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ category }}</h1>
    {% for listing in catlist %}
        <div class="catlist-listing row">
            <div class="col-2">
                <img class="catlist-pic" src="{{ listing.image_url }}" alt="{{ listing.title }}">
            </div>
            <div class="col-10">
                <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
                <div class="top-bid">Price: £{{ listing.starting_bid }}</div>
                <p>{{ listing.description }}</p>
                <div class="creation_time">{{ listing.created_on }}</div>
            </div>
        </div>
    {% empty %}
        <p>There are no listings in this category.</p>
    {% endfor %}
{% endblock %}