{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Categories</h2>

                    {% for cat in categories %}
                        <div id="catlist">
                            <a class="category-button  
                                {% if cat.count == 0 %}
                                    cat-has-0
                                {% else %}
                                    status-pos-invert
                                {% endif %}
                                " href="{% url 'category' cat.id %}">
                                <span class="cat-name">{{ cat.name }}</span><span class="cat-counter">{{ cat.count }} listings</span>
                            </a>
                        </div>


                    {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}