{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2>Create Listing</h2>
            </div>

        </div>

        <div id="listing_form_wrapper">
            <form action="{% url 'create_listing' %}" method="POST">
            {% csrf_token %}
            {{ form.management_form }}
            {% for field in form %}
                <div class="row">

                    <div class="col-2">
                        <div class="form-label">
                            {{ field.label_tag }} {% if not field.field.required %} <br />
                            <small>(optional)</small> {% endif %}
                        </div>
                    </div>

                    <div class="col">
                        {{ field }}
                    </div>

                </div>
            {% endfor %}
                <div class="row">

                    <div class="col-2">
                    </div>

                    <div class="col">
                        <input type="submit" class="my-form-button" value="Create">
                    </div>
                    
                </div>
            </form>
        </div>



    </div>
{% endblock %}