{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <div id="active-listings" class="container">
        {% for auction in active_auctions %}
            <div class="row">
                <div class="col-3">
                    <img class="homepage-pic" src="{{ auction.image_url }}" alt="{{ auction.title }}">
                </div>
                <div class="col-9">
                    <h3><a href="{% url 'listing' auction.id %}">{{ auction.title }}</a></h3>
                    <div class="top-bid">Price: £{{ auction.starting_bid }}</div>
                    <p>{{ auction.description }}</p>
                    <div class="creation_time">{{ auction.created_on }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}