{% extends "auctions/layout.html" %}

{% block body %}
    <div id="active-listings" class="container">
        <h2>Active Listings</h2>
        {% for auction in active_auctions %}
            <div class="row auclist-row">
                <div class="col-2">
                    <img class="auclist-pic" src="{{ auction.image_url }}" alt="{{ auction.title }}">
                </div>
                <div class="col">
                    <h3><a href="{% url 'listing' auction.id %}">{{ auction.title }}</a></h3>
                    <div class="top-bid">Price: £{{ auction.starting_bid }}</div>
                    <div class="list-description">{{ auction.description }}</div>
                    <div class="creation_time">{{ auction.created_on }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}