{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing: {{ listing.title }}</h1>

    {% if user.is_authenticated %}
        <div id="watch-status" 
            {% if watching %}
                class="watched"
            {% else %}
                class="not-watched"
            {% endif %}
            >watchlist</div>
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value={{ listing.id }}>
            <input id="watchlist-button" type="submit" 
            {% if watching %}
                value="-"
            {% else %}
                value="+"
            {% endif %}
            >
        </form>
    {% endif %}

    <div id="listing-pic">
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
    </div>

    <div id="listing-desc">
        {{ listing.description }}
    </div>
    <div id="listing-bid-container">
        {% if high_bid.winning_bid %}
            <h2>Winning bid</h2>
            <span class="listing-winning-bid">
        {% else %}
            <h2>Auction status</h2>
            <span class="listing-top-bid">
        {% endif %}
        £{{ current_price }}</span>
        <p>{{ num_bids }} bid(s) received.</p>

        {% if user.is_authenticated and user.username == listing.owner.username %}

            {% if not high_bid.winning_bid %}
                <form action="{% url 'close' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <label for="close-auction">Close auction at £{{ current_price }}</label>
                    <input id="close-auction" name="close_auction" type="submit" value="Close Auction">
                </form>
            {% endif %}

        {% elif user.is_authenticated %}
            <p>
            {% if not user_top_bid %}
                You have not bid on this item.
            {% elif high_bid.bidder.username == user.username %}
                Your bid is the top bid.
            {% else %}
                Your bid has been beaten.
            {% endif %}
            </p>

            {% if not high_bid.winning_bid %}
                <p>{{ bid_message }}</p>
                <form action="{% url 'bid' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input id="new_bid" type="text" name="new_bid">
                    <input type="submit" value="Bid">
                </form>
            {% endif %}
        {% endif %}

    </div>
    <div id="listing-details">
        <h2>Details</h2>
        Listed by: {{ listing.owner }}<br />
        Category: {{ listing.category }}
    </div>
    

{% endblock %}