{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing: {{ listing.title }}</h1>

    {% if user.is_authenticated %}
        <div id="watch-status" 
            {% if watching %}
                class="watched"
            {% else %}
                class="not-watched"
            {% endif %}
            >watchlist</div>
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value={{ listing.id }}>
            <input id="watchlist-button" type="submit" 
            {% if watching %}
                value="-"
            {% else %}
                value="+"
            {% endif %}
            >
        </form>
    {% endif %}

    <div id="listing-pic">
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
    </div>

    <div id="listing-desc">
        {{ listing.description }}
    </div>
    <div id="listing-bid-container">
        <span class="listing-top-bid">£{{ current_price }}</span>

        {{ num_bids }} bid(s) received so far. 

        {% if user.is_authenticated and user.username != listing.owner.username %}
            {% if not user_top_bid %}
                <p>You have not bid on this item.</p>
            {% else %}
                TODO: "Your bid is the top bid." or "Your bid has been beaten."
            {% endif %}

            <form action="{% url 'listing' listing.id %}" method="POST">
                <input id="new_bid" type="text" name="new_bid">
                <input type="submit" value="Bid">
            </form>
        {% elif user.is_authenticated %}
            TODO: Form to close the auction and declare a winner.
        {% endif %}
    </div>
    <div id="listing-details">
        <h2>Details</h2>
        Listed by: {{ listing.owner }}<br />
        Category: {{ listing.category }}
    </div>
    

{% endblock %}